Content Based Improved Recommendation System

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/tcc_ceds_music.csv")
df.head(5)

,Unnamed: 0,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
0,0,mukesh,mohabbat bhi jhoothi,1950,pop,hold time feel break feel untrue convince spea...,95,0.000598,0.063746,0.000598,...,0.380299,0.117175,0.357739,0.454119,0.997992,0.901822,0.339448,0.137110,sadness,1.0
1,4,frankie laine,i believe,1950,pop,believe drop rain fall grow believe darkest ni...,51,0.035537,0.096777,0.443435,...,0.001284,0.001284,0.331745,0.647540,0.954819,0.000002,0.325021,0.263240,world/life,1.0
2,6,johnnie ray,cry,1950,pop,sweetheart send letter goodbye secret feel bet...,24,0.002770,0.002770,0.002770,...,0.002770,0.225422,0.456298,0.585288,0.840361,0.000000,0.351814,0.139112,music,1.0
3,10,pérez prado,patricia,1950,pop,kiss lips want stroll charm mambo chacha merin...,54,0.048249,0.001548,0.001548,...,0.225889,0.001548,0.686992,0.744404,0.083935,0.199393,0.775350,0.743736,romantic,1.0
4,12,giorgos papadopoulos,apopse eida oneiro,1950,pop,till darling till matter know till dream live ...,48,0.001350,0.001350,0.417772,...,0.068800,0.001350,0.291671,0.646489,0.975904,0.000246,0.597073,0.394375,romantic,1.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28372 entries, 0 to 28371
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                28372 non-null  int64
 1   artist_name               28372 non-null  object
 2   track_name                28372 non-null  object
 3   release_date              28372 non-null  int64
 4   genre                     28372 non-null  object
 5   lyrics                    28372 non-null  object
 6   len                       28372 non-null  int64
 7   dating                    28372 non-null  float64
 8   violence                  28372 non-null  float64
 9   world/life                28372 non-null  float64
 10  night/time                28372 non-null  float64
 11  shake the audience        28372 non-null  float64
 12  family/gospel             28372 non-null  float64
 13  romantic                  28372 non-null  float64
 14  communication             28372 non-null  float64
 15  obscene                   28372 non-null  float64
 16  music                     28372 non-null  float64
 17  movement/places           28372 non-null  float64
 18  light/visual perceptions  28372 non-null  float64
 19  family/spiritual          28372 non-null  float64
 20  like/girls                28372 non-null  float64
 21  sadness                   28372 non-null  float64
 22  feelings                  28372 non-null  float64
 23  danceability              28372 non-null  float64
 24  loudness                  28372 non-null  float64
 25  acousticness              28372 non-null  float64
 26  instrumentalness          28372 non-null  float64
 27  valence                   28372 non-null  float64
 28  energy                    28372 non-null  float64
 29  topic                     28372 non-null  object
 30  age                       28372 non-null  float64
dtypes: float64(23), int64(3), object(5)
memory usage: 6.7+ MB

In [ ]:
df_music=df[["artist_name","track_name","genre","topic"]]

In [ ]:
df_music.tail()

      artist_name                     track_name    genre    topic
28367     mack 10                10 million ways  hip hop  obscene
28368      m.o.p.  ante up (robbin hoodz theory)  hip hop  obscene
28369        nine                  whutcha want?  hip hop  obscene
28370  will smith                         switch  hip hop  obscene
28371       jeezy                         r.i.p.  hip hop  obscene

In [ ]:
improved_lyrics=df_music.to_csv('drive/MyDrive/improved_lyrics.csv',index=True)

In [ ]:
len(df_music)

28372

In [ ]:
df_music=df_music.drop_duplicates(subset="track_name",keep="first")

In [ ]:
len(df_music)

23689

In [ ]:
df_music.isna().sum()

artist_name    0
track_name     0
genre          0
topic          0
dtype: int64

In [ ]:
def concat(x):
  return ''.join(x["artist_name"]) +' '+''.join(x["genre"])+' '+''.join(x["topic"])

In [ ]:
df_music["concat"]=df_music.apply(concat,axis=1)

In [ ]:
df_music["concat"].head()

0                   mukesh pop sadness
1         frankie laine pop world/life
2                johnnie ray pop music
3             pérez prado pop romantic
4    giorgos papadopoulos pop romantic
Name: concat, dtype: object

In [ ]:
df_music.head()

,artist_name,track_name,genre,topic,concat
0,mukesh,mohabbat bhi jhoothi,pop,sadness,mukesh pop sadness
1,frankie laine,i believe,pop,world/life,frankie laine pop world/life
2,johnnie ray,cry,pop,music,johnnie ray pop music
3,pérez prado,patricia,pop,romantic,pérez prado pop romantic
4,giorgos papadopoulos,apopse eida oneiro,pop,romantic,giorgos papadopoulos pop romantic

In [ ]:
improved_lyrics=df_music.to_csv('drive/MyDrive/improved_lyrics.csv',index=True)

In [ ]:
df_music.isna().sum()

artist_name    0
track_name     0
genre          0
topic          0
concat         0
dtype: int64

Using count Vectorizer for NLP

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vectorizer=CountVectorizer()

In [ ]:
matrix=vectorizer.fit_transform(df_music["concat"])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_sim=cosine_similarity(matrix,matrix)

Reverse Mapping

In [ ]:
indices=pd.Series(df_music.index,index=df_music["track_name"])
indices1=pd.Series(df_music.index,index=df_music["artist_name"])
indices2=pd.Series(df_music.index,index=df_music["genre"])

In [ ]:
indices

track_name
mohabbat bhi jhoothi                 0
i believe                            1
cry                                  2
patricia                             3
apopse eida oneiro                   4
                                 ...
10 million ways                  28367
ante up (robbin hoodz theory)    28368
whutcha want?                    28369
switch                           28370
r.i.p.                           28371
Length: 23689, dtype: int64

In [ ]:
def revised_recommendation(title,df_music=df_music,indices=indices,cosine_sim=cosine_sim):
  id=indices[title]
  sim=list(enumerate(cosine_sim[id]))
  sim=sorted(sim,key=lambda x:x[1],reverse=True)
  sim=sim[1:11]
  music_index=[i[0] for i in sim]
  return df_music["track_name"].iloc[music_index]

In [ ]:
revised_recommendation("cry")

56                       here am i
5446               three more days
5767              if i had a heart
2770                    blue spark
2915                 sitting still
3804                    radio song
1925                  prairie rose
2000                   nightingale
2542                      oh yeah!
24      hum tujhse mohabbat kar ke
Name: track_name, dtype: object

In [ ]:
def artist_recommendation(artist,df_music=df_music,indices=indices1,cosine_sim=cosine_sim):
  id=indices1[artist][1]
  sim=list(enumerate(cosine_sim[id]))
  sim=sorted(sim,key=lambda x:x[1],reverse=True)
  sim=sim[1:11]
  music_index=[i[0] for i in sim]
  return df_music["track_name"].iloc[music_index]

In [ ]:
artist_recommendation("mukesh")

2770              blue spark
2915           sitting still
3804              radio song
1925            prairie rose
2000             nightingale
2542                oh yeah!
0       mohabbat bhi jhoothi
155                    你去了那裡
864          hurdy gurdy man
912          to sing for you
Name: track_name, dtype: object

In [ ]:
# df[df_music["topic"]]["obscene"]

In [ ]:
from itertools import chain

In [ ]:
def revised1_recommendation(title,df_music=df_music,indices=indices,cosine_sim=cosine_sim):
  li=[]
  for i in range(len(title)):
    id=indices[title[i]]
    sim=list(enumerate(cosine_sim[id]))
    sim=sorted(sim,key=lambda x:x[1],reverse=True)
    sim=sim[1:11]
    li.append(sim)
    lif=[]
    for i in range(0,10):
      music_index=[a[i][0] for a in li]
      lif.append(music_index)
    flatten_list = list(chain.from_iterable(lif)) 
  return df_music["track_name"].iloc[flatten_list]

In [ ]:
title=["mohabbat bhi jhoothi","cry"]

In [ ]:
revised1_recommendation(title)

2648      i'm coming over
2885              we walk
3186             driver 8
3258                hyena
3276           fall on me
3784            texarkana
3857    half a world away
3882     near wild heaven
6743          oceans away
6862           hard place
Name: track_name, dtype: object

In [ ]:
def genre1_recommendation(genre,df_music=df_music,indices=indices2,cosine_sim=cosine_sim):
  li=[]
  for i in range(len(genre)):
    id=indices2[genre[i]][0]
    sim=list(enumerate(cosine_sim[id]))
    sim=sorted(sim,key=lambda x:x[1],reverse=True)
    sim=sim[1:6]
    li.append(sim)
    lif=[]
    for i in range(0,5):
     music_index=[a[i][0] for a in li]
     lif.append(music_index)
    flatten_list = list(chain.from_iterable(lif))
  return df_music["track_name"].iloc[flatten_list]

In [ ]:
genre=["pop","rock","country"]

In [ ]:
genre1_recommendation(genre)

2648            i'm coming over
27874               blaze it up
7108        seasons of my heart
2885                    we walk
27875           yall ain't know
7431        a little bitty tear
3186                   driver 8
27876            smoking lovely
7453     my mom and santa claus
3258                      hyena
27877       i'm not that nigga!
7508      lonely christmas call
3276                 fall on me
28077                 everytime
7528             forgive me now
Name: track_name, dtype: object

In [ ]:
def artist1_recommendation(artist,df_music=df_music,indices=indices1,cosine_sim=cosine_sim):
  li=[]
  for i in range(len(artist)):
    id=indices1[artist[i]][0]
    sim=list(enumerate(cosine_sim[id]))
    sim=sorted(sim,key=lambda x:x[1],reverse=True)
    sim=sim[1:6]
    li.append(sim)
    lif=[]
    for i in range(0,5):
     music_index=[a[i][0] for a in li]
     lif.append(music_index)
    flatten_list = list(chain.from_iterable(lif))
  return df_music["track_name"].iloc[flatten_list]

In [ ]:
artist=["dua lipa","lata mangeshkar"]

In [ ]:
artist1_recommendation(artist)

7378                           maiden's prayer
3050                time after time (annelise)
7411                                 after all
26                              main na janoon
10605                          cherokee maiden
29                   maagata maagata janm gele
7349           the kind of love i can't forget
30       chupke chupke (from ''paying guest'')
7638                                   rosetta
41            le chal ri nindiya le chal hamen
Name: track_name, dtype: object

In [ ]:
import pickle

In [ ]:
pickle.dump(revised1_recommendation,open('/content/drive/MyDrive/model.pkl','wb'))
pickle.dump(cosine_sim,open('/content/drive/MyDrive/cosine.pkl','wb'))

In [ ]:
# model1=pickle.load(open('model1.pkl','rb'))

In [ ]:
# model1(["bob wills"])

In [ ]:
df_music[df_music["track_name"]=="shanghai noodle factory"]

,artist_name,track_name,genre,topic,concat
8186,traffic,shanghai noodle factory,country,sadness,traffic country sadness

In [ ]:
df_music[df_music["artist_name"]=="lata mangeshkar"]

,artist_name,track_name,genre,topic,concat
25,lata mangeshkar,paas nahin aaiye haath na lagaiye,pop,night/time,lata mangeshkar pop night/time
26,lata mangeshkar,main na janoon,pop,music,lata mangeshkar pop music
28,lata mangeshkar,judai ki khabar hoti agar,pop,world/life,lata mangeshkar pop world/life
29,lata mangeshkar,maagata maagata janm gele,pop,violence,lata mangeshkar pop violence
30,lata mangeshkar,chupke chupke (from ''paying guest''),pop,violence,lata mangeshkar pop violence
40,lata mangeshkar,chandan ka palna resham ko dori,pop,world/life,lata mangeshkar pop world/life
41,lata mangeshkar,le chal ri nindiya le chal hamen,pop,violence,lata mangeshkar pop violence
51,lata mangeshkar,sitaron ki mehfil saji,pop,violence,lata mangeshkar pop violence
54,lata mangeshkar,kabhi khamosh rahte hain,pop,sadness,lata mangeshkar pop sadness
62,lata mangeshkar,mera dil yeh pukare aaja,pop,sadness,lata mangeshkar pop sadness
66,lata mangeshkar,pahuni raghunandan savala,pop,obscene,lata mangeshkar pop obscene
68,lata mangeshkar,antar mantar jantar,pop,sadness,lata mangeshkar pop sadness
69,lata mangeshkar,kahan se yeh sholon ka toofan aaya,pop,violence,lata mangeshkar pop violence
108,lata mangeshkar,panchhi banoon udti phiroon,pop,music,lata mangeshkar pop music